[tool.poetry]
name = "dronefly"
version = "0.1.0"
description = "Chat platform software for naturalist-related sites"
authors = ["Ben Armstrong <synrg@debian.org>"]
license = "AGPL-3.0-or-later"
readme = "README.md"

[tool.poetry.dependencies]
dronefly-core = "^0.3.0"
python = ">=3.8.1,<3.10"
Red-DiscordBot = "^3.4.18"
dataclasses-json = "^0.5.5"
ebird-api = "^3.0.6"
html2markdown = "^0.1.7"
inflect = "^5.3.0"
timeago = "^1.0.15"
aiolimiter = "^1.0.0"
aiohttp-retry = "^2.4.5"
pyinaturalist = "^0.17.0"
dateparser = "^1.0.0"

[tool.poetry.group.dev.dependencies]
black = "^21.8-beta.0"
pytest = "^6.2.5"

[tool.poetry.group.docs.dependencies]
sphinx = "^5.1.1"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib_trio = "^1.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
