[tool.poetry]
name = "dronefly"
version = "0.1.0"
description = "Chat platform software for naturalist-related sites"
authors = ["Ben Armstrong <synrg@debian.org>"]
license = "AGPL-3.0-or-later"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.10"
Red-DiscordBot = "^3.4.13"
dataclasses-json = "^0.5.5"
ebird-api = "^3.0.6"
html2markdown = "^0.1.7"
inflect = "^5.3.0"
timeago = "^1.0.15"
aiolimiter = "^1.0.0-beta.1"
aiohttp-retry = "^2.4.5"
pyinaturalist = "^0.17.0"
dateparser = "^1.0.0"

[tool.poetry.group.dev.dependencies]
black = "^21.8-beta.0"
pytest = "^6.2.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
