aiodns==3.0.0
aiohttp==3.9.3
aiohttp-json-rpc==0.13.3
aiohttp-retry==2.8.3
aiolimiter==1.1.0
aiosignal==1.3.1
alabaster==0.7.13
apsw==3.45.2.0
astroid==2.15.8
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
backports.tarfile==1.1.0
beautifulsoup4==4.12.3
black==24.4.0
Brotli==1.1.0
cattrs==23.2.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contextlib2==21.6.0
cryptography==42.0.5
css-html-js-minify==2.5.5
dateparser==1.2.0
dill==0.3.8
discord.py==2.3.2
distro==1.9.0
docutils==0.19
dronefly-core==0.3.8
dronefly-discord==0.1.4
ebird-api==3.0.6
filelock==3.13.4
frozenlist==1.4.1
html2markdown==0.1.7
idna==3.6
imagesize==1.4.1
importlib_metadata==7.1.0
inflect==5.6.2
iniconfig==2.0.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
Jinja2==3.1.3
keyring==25.1.0
lazy-object-proxy==1.10.0
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.2.0
multidict==6.0.5
mypy-extensions==1.0.0
orjson==3.10.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
psutil==5.9.8
pycares==4.3.0
pycparser==2.22
Pygments==2.17.2
pyinaturalist==0.19.0
pylint==2.17.7
pyrate-limiter==2.10.0
pytest==7.4.4
pytest-asyncio==0.20.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-forge==18.6.0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.7.0
Red-Commons==1.0.0
Red-DiscordBot==3.5.8
Red-Lavalink==0.11.0
regex==2024.4.16
requests==2.31.0
requests-cache==1.2.0
requests-ratelimiter==0.6.0
rich==13.7.1
schema==0.7.5
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==5.3.0
sphinx-material==0.0.36
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-trio==1.1.2
text-unidecode==1.3
timeago==1.0.16
tomlkit==0.12.4
typing_extensions==4.10.0
tzlocal==5.2
Unidecode==1.3.8
url-normalize==1.4.3
urllib3==2.2.1
uvloop==0.19.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.18.1
