aiohttp==3.10.11
aiohttp-json-rpc==0.13.3
aiohttp-retry==2.8.3
aiolimiter==1.1.0
aiosignal==1.3.1
alabaster==0.7.16
apsw==3.46.1.0
astroid==2.15.8
attrs==24.2.0
babel==2.16.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
black==24.8.0
Brotli==1.1.0
cattrs==24.1.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
contextlib2==21.6.0
cryptography==43.0.1
css-html-js-minify==2.5.5
dateparser==1.2.0
dill==0.3.8
discord.py==2.4.0
distro==1.9.0
docutils==0.19
dronefly-core==0.3.9.dev1
dronefly-discord==0.1.5rc1
ebird-api==3.0.6
filelock==3.16.1
frozenlist==1.4.1
html2markdown==0.1.7
idna==3.8
imagesize==1.4.1
importlib_metadata==8.5.0
inflect==5.6.2
iniconfig==2.0.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jeepney==0.8.0
Jinja2==3.1.4
keyring==25.4.0
lazy-object-proxy==1.10.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.0.5
mypy-extensions==1.0.0
orjson==3.10.7
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
psutil==6.0.0
pycparser==2.22
Pygments==2.18.0
pyinaturalist==0.20.0.dev1
pylint==2.17.7
pyrate-limiter==2.10.0
pytest==7.4.4
pytest-asyncio==0.20.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-forge==18.6.0
python-slugify==8.0.4
pytz==2024.2
PyYAML==6.0.2
rapidfuzz==3.9.6
Red-Commons==1.0.0
Red-DiscordBot==3.5.13
Red-Lavalink==0.11.0
regex==2024.9.11
requests==2.32.3
requests-cache==1.2.1
requests-ratelimiter==0.7.0
rich==13.8.0
schema==0.7.7
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==5.3.0
sphinx-material==0.0.36
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-trio==1.1.2
text-unidecode==1.3
timeago==1.0.16
tomlkit==0.13.2
typing_extensions==4.12.2
tzlocal==5.2
Unidecode==1.3.8
url-normalize==1.4.3
urllib3==2.2.3
uvloop==0.20.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.20.2
