name: Dronefly

on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]
env:
  LATEST_PY_VERSION: '3.9'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python-version }}
    - uses: snok/install-poetry@v1.2
      with:
        version: 1.2.0a2
        virtualenvs-in-project: true

    # Cache packages per python version, and reuse until lockfile changes
    - name: Cache python packages
      id: cache
      uses: actions/cache@v2
      with:
        path: .venv
        key: venv-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}
    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: poetry install -v

    - name: Test with pytest
      run: |
        source .venv/bin/activate
        pytest
